

/********POLICES*******/

@font-face { /*police paragraphe*/
	font-family: "steelfish";
	ssrc: url("../polices/steelfish/steelfish_rg.eot"); /* IE9 */
	ssrc: url("../polices/steelfish/steelfish_rg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	s	 url("../polices/steelfish/steelfish_rg.woff") format("woff"),
	s	 url("../polices/steelfish/steelfish_rg.ttf") format("truetype");
}
@font-face { /*police nav*/
	font-family: "bender";
	src: url('../polices/bender.otf');
}
@font-face { /*police titres*/
	font-family: "Engebrechtre";
	src: url('../polices/Engebrechtre-Bold-Italic.ttf');
}

/*******POLICES-END*******/


body {
	background-color: rgba(251, 242, 227, 0.5);
	margin: 0px;
}

/********HEADER********/
.header {
	background-image: url("../img/Vaping.jpg");
	background-size: cover;
	margin-top: 0px;
	overflow: hidden;
	height: 600px;
}
.title {
	font-family: Engebrechtre;
	text-align: center;
	font-size: 85px;
	color: white;
	margin-top: 0px;
	padding-top: 200px;
	padding-bottom: 83.5px;
	text-shadow: 2px 2px 5px black;
}
ul {
	font-family: sans-serif;
	list-style-type: none;
	margin-top: 151px;
	background-color: rgba(150, 150, 150, 0.35);
	overflow: visible;
	width: auto;
}
.nav a {
	font-family: bender ;
	font-size: 19px;
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 21px 32px;
	text-shadow: 0.5px 0.5px 2px black;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.nav .border a {
	border-right: 0.08em solid rgba(255,255,255,0.5);
}
.actif {
	background-color: rgba(0,0,0,0.29);
}
.nav {	
	display: -ms-flexbox;
	display: flex;
	/* -webkit-box-pack: center; */
	-ms-flex-pack: center;
	justify-content: center;
	border-top: solid 0.05em rgba(255,255,255,0.5);
}
.nav a:hover {
	background-color: rgba(0,0,0,0.29);
	font-size: 20px;
	padding: 20px 45px 20px 45px;
}

/********HEADER-END********/

/**********MAIN**********/
.contenu {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	justify-content: center;
}
.article .title2 {
	text-align: center;
	font-family: Engebrechtre;
	font-size: 30px;
	margin: auto;
	padding-top: 50px;
	color: #808080;

}
.contenu p {
	font-size: 25px;
	font-family: steelfish;
	color: #808080;
	letter-spacing: 1.3px;
	width: 50%;
	-webkit-overflow: visible;
	text-align: justify;
	padding:40px;
}
.galery .img {
	font-size: 25px;
	font-family: steelfish;
	color: #808080;
	letter-spacing: 1.3px;
	width: 400px;
	height: 450px;
	text-align: center;
	margin: 20px;
	padding: 5px;
}
.galery img {
	width: 400px;
	height: 400px;
}
.galery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.article {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 0.3px rgba(145,145,145,0.3);
	min-width: 400px;
	overflow: hidden;
	max-width: 1200px;
	padding-bottom: 20px;
}

/**********MAIN-END**********/

.foot {
	text-align: right;
	font-family: bender;
	font-size: 13px;
	color: white;
	padding: 10px;
	background-color: #808080;
	margin-bottom: 0px;
}
